#table {
  display: table;
  padding: 5px;
}
.tr {
  display: table-row !important;
  padding: 5px !important;
}

.td {
  display: table-cell;
  padding: 5px;
  width: 80px;
  height: 80px;
  border: aliceblue solid 1px;
  margin: 5px;
}
.tdd {
  display: table-cell;
  padding: 5px;
  width: 80px;
  height: 80px;
  border: aliceblue solid 1px;
  border-right: yellow solid 5px;
  margin: 5px;
}

.trr {
  border-bottom: yellow solid 5px;
}

.inp
{
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 80px;
    height: 80px;
    font-size: x-large;
    color: aliceblue;
}